@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --font-outfit: var(--font-outfit), "sans-serif";
  --font-ovo: var(--font-ovo), "serif";
}
